@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "./print.less";

.CocktailApp {
    .container-fixed();
    font-size: 12px;

    .grid-selection {
        .row();
        text-align: center;

        .double-grid-icon {
            max-width: 66px;
            width: 66px;
        }

        button {
            .make-md-column(3);
            background: none;
            border: none;
            font-size: 3em;

            .glyphicon-doublegrid {
                height: 100%;
                width: 50%;
                font-size: 0.6em;
                top: -4px;
            }

            .double-grid-left {
                left: -2px;
            }
        }
    }

    .app-title {
        text-align: center;

        h1 {
            font-size: 4.5em;
            padding: 1em 0 .25em;
        }   
    }

    .cocktail-index {
        margin: 2em;

        .cocktail-index-title {
            text-align: center;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #000;
            color: #30a2cc;
        }

        ul {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;

            list-style-type: none;

            li {
                margin: 10px 0;

                a {
                    text-decoration: none;
                }
            }
        }
        
    }

    .cocktail-row {
        page-break-before: always;
    }

    .grid-row-1 {
        .make-xs-column(12);
        .cocktail .cocktail-info-wrapper {
            .ingredients {
                .make-xs-column(3);
            }
            .directions {
                .make-xs-column(9);
            }
        }
    }
    .grid-row-2 {
        .make-xs-column(6);
        .cocktail .cocktail-title-wrapper {
            height: 7em;
            width: 100%;
            display: table;

            .cocktail-title {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
    .grid-row-3 {
        .make-xs-column(4);
        .cocktail .cocktail-title-wrapper {
            height: 6em;
            width: 100%;
            display: table;

            .cocktail-title {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                h3 {
                    font-size: 1.5em;
                }
            }
        }
    }

    .cocktail {
        .row();
        padding: 0 3% 2em;

        h3 {
            font-size: 2.5em;
            padding: 0 0 .25em;
        }

        h4 {
            text-shadow: 1px 1px 1px #000;
            color: #30a2cc;
        }

        .cocktail-title {
            text-align: center;
            color: #30a2cc;
            text-transform: uppercase;
        }

        .cocktail-img {
            text-align: center;

            img {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }
        }

        .cocktail-info-wrapper {
            margin-top: 1.5em;

            .ingredients {
                li {
                    font-size: .925em;
                    margin-bottom: .75em;
                }
            }
        }
    }
}
